body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #645f5f;
    color: #f8f1f1;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(147, 207, 50);
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #494242;
    color: #f3efef;
    text-align: center;
    padding: 1px;
    width: 100%;
    bottom: 0;
}

.background {
    background-image: url(imagens/Design\ sem\ nome\ \(1\).png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    
}
